<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<h2 style="text-align: center">Update Book Form</h2>
<div class="col-md-6 offset-3">
<form [formGroup]="bookForm" (ngSubmit)="updateBook(id)" >
    <div hidden>
      <label>ID</label>
      <input formControlName="id" name="id" type="number" disabled>
    </div>

    <div class="mb-3">
      <label class="form-label">Book</label>
      <input class="form-control" formControlName="name" name="name" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label">Author</label>
      <input class="form-control" formControlName="author" name="author" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" formControlName="description" name="description"></textarea>
    </div>

    <div class="mb-3">
      <button class="btn badge-success" type="submit" value="Update">Update</button>
      <button class="btn badge-danger" routerLink="/books">Exit</button>
    </div>
</form>
</div>
